# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
.deps

# Libraries
*.lib
*.a
*.la
*.lo
.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
fracing
config_test
fb_test

# Debug files
*.dSYM/

# Autotools
autom4te.cache
config.h
config.log
config.status
libtool
stamp-h1
Makefile
